/* header elements */
.heading{
    background-image: url(/Images/backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
    color: white;
    text-align: center;

}
.heading .h1 .h2{
    color: white;
    padding: 0% 1rem;
    font-size: 4 rem;
}



/* services section */
.section-services {
    background-image: url(/Images/backgrounds/s_image.jpg);  
    background-position: center;
    background-position: fixed;
    height:500px;
    background-repeat:no-repeat;
    position: center;
    text-align: center
    
    
}
.section-services p{
    color: white;
    text-align: center;    
    position: relative;
    padding: 0.5rem 0;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 800px;
    max-width: 800px;
}
.section-services h2{
    color: white;
    text-align: center;    
    position: relative;
    padding: 5rem 0;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 800px;
    max-width: 800px;
}