.heading{
    background-image: url(/Images/backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
    color: white;
    text-align: center;

}
.heading .h1 .h2{
    color: white;
    padding: 0% 1rem;
    font-size: 4 rem;
}



.services{
    background-image: url(/Images/backgrounds/s_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height:1500px
}