/* header elements */
.heading{
    background-image: url(/Images/backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    color: white;
    text-align: center;
    /* padding: 5rem; */
    font-family: catamaran Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    

}
.heading .h1 .h2{
    color: white;
    padding: 0% 1rem;
    font-size: 4 rem;
    font-weight: lighter;
}

.heading .h3{
    font-size: 1 rem;
    padding-top: 2rem;

}


/* About section */
.About {
    text-align: center;
    font-size: 4 rem;
    color: black;
    padding: 0rem;
    margin-top: 1 rem;
    margin-bottom: 1 rem;

}


/* services section */
.section-services {
    background-image: url(/Images/backgrounds/s_image.jpg);  
    background-position: center;
    background-position: fixed;
    height:400px;
    width: 100%;
    background-repeat:no-repeat;
    position: center;
    text-align: center
    
    
}

.section-services h2{
    color: white;
    margin-top: 1rem;
    text-align: center;    
    position: relative;
    padding: 3rem 0;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 800px;
    max-width: 800px;
}
.section-services p{
    color: white;
    text-align: center;    
    position: relative;
    padding: 0.5rem 0;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 800px;
    max-width: 800px;
    
}

/* section-what-we-do */
.section-what-we-do{
    text-align: center;
}


/* gallery */
.section-portfolio {
    display: grid;
    grid-template-columns: repeat (4, 1fr);
    padding-top: 0rem;
}

.section-portfolio h2{
    text-align: center;
    padding-top: 1 rem;
}

.section-contacts{
    background-image: url(Images/backgrounds/c_image.jpg);
    text-align: center;
    height: 400px;
}

/* footer section */
.footer{
    align-items: center;
    text-align: center;
}